<article>
  <header>
    <h1>Private Zone</h1>
  </header>
  {{#if user}}
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Correo: {{user.email}}</p>
    <footer>
      <a href="/api/sessions/logout" role="button">Logout</a>
    </footer>
  {{else}}
    <p>No se han proporcionado datos de usuario.</p>
  {{/if}}
</article>
